.container {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 500px;
    width: 800px;
}

.square {
    background:  #ddd;
    border: 0.5px solid #ebebeb;
}

.filled {
    background-color: black;
}