.head {
    font-family: 'Pacifico';
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/retro7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.text {
    margin: 0px 0px;
    font-family: 'Pacifico';
    font-size: 35px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-style: italic;
    color: #f9dea6;
}

.header {
    height: 15vh;
}

.container {
    background-color: rgb(168, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 590px;
    width: 900px;
    border-radius: 10%;
    box-shadow:
    15px 20px 10px rgb(53 14 14 / 54%),
    inset 8px 8px 5px rgb(255 74 74),
    inset -3px -3px 5px 5px rgb(113 0 0); 
}

.content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 400px;
    width: 700px;
    border-radius: 5%;
    box-shadow:
    -3px -3px 3px 3px rgb(28 6 6 / 33%),
    3px 3px 4px 3px rgb(255 85 85 / 63%),
    3px 3px 4px 3px rgb(255 85 85 / 63%);
}

.square {
    box-sizing: border-box;
    background:  #ddd;
    border: 1px solid #e7e7e769;
    user-select: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 10%;
}

/* Slider base styling */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 350px;
    height: 8px;
    box-shadow: inset 2px 2px 3px 0px rgba(39, 29, 29, 0.726);
    background: #fffbde;
    border-radius: 5px;
    outline: none;
}

/* Slider thumb styling chrome/firefox */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 60px;
    background: url('img/flower.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    box-shadow:
    5px 5px 4px 0px rgba(63, 12, 12, 0.685),
    inset 3px 3px 3px 0px rgb(235, 255, 185),
    inset -3px -3px 3px 0px rgba(65, 82, 20, 0.637);
}

input[type=range]::-moz-range-thumb {
    width: 60px;
    height: 60px;
    background: url('img/flower.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
    border-radius: 50%;
    box-shadow:
    5px 5px 4px 0px rgba(63, 12, 12, 0.685),
    inset 3px 3px 3px 0px rgb(235, 255, 185),
    inset -3px -3px 3px 0px rgba(65, 82, 20, 0.637);
}

/* Active slider thumb chrome/firefox */
input[type=range].slider-active::-webkit-slider-thumb {
    transform: scale(1.07);
    filter: brightness(1.1);
    box-shadow:
      3px 3px 6px rgba(63, 12, 12, 0.6),
      inset 2px 2px 2px rgba(255, 230, 180, 0.7),
      inset -2px -2px 2px rgba(65, 82, 20, 0.5);
    transition: all 0.2s ease;
}

input[type=range].slider-active::-moz-range-thumb {
    transform: scale(1.07);
    filter: brightness(1.1);
    box-shadow:
      3px 3px 6px rgba(63, 12, 12, 0.6),
      inset 2px 2px 2px rgba(255, 230, 180, 0.7),
      inset -2px -2px 2px rgba(65, 82, 20, 0.5);
    transition: all 0.2s ease;
}
  
.colorContainer {
    position: relative;
  }
  
.colorIcon {
    width: 50px;
    height: 50px;
    padding: 6px 15px;
    border-radius: 40%;
    box-shadow:
    3px 3px 4px 0px rgba(63, 12, 12, 0.801),
    inset -3px -3px 3px 0px rgb(113 0 0),
    inset 3px 3px 3px 0px rgb(255 164 164 / 25%);
}

.colorInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.color-active {
    box-shadow: 0 0 8px rgba(90, 0, 0, 0.726);
    filter: brightness(1.3);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.eraseButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 40%;
    box-shadow:
    3px 3px 4px 0px rgba(63, 12, 12, 0.801),
    inset -3px -3px 3px 0px rgb(113 0 0),
    inset 3px 3px 3px 0px rgb(255 164 164 / 25%);
}

.eraseIcon {
    width: 45px;
}

.erase-active {
    box-shadow: 0 0 8px rgba(90, 0, 0, 0.726);
    filter: brightness(1.3);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}